
/* 
@font-face {
    font-family: "Open Sans";
    src: url('Numbers\ \ 0-9.svg') format('svg');
} */

html {
    background-color: whitesmoke;
    text-align: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    height: 100vh;
    width: 100vh;
    /* padding: 4rem auto; */
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}



#main {
    padding: 4rem 4%;
    background-color: whitesmoke;
    font-family: "Open Sans";
    src: url('Numbers\ \ 0-9.svg') format('svg');
    
    
}

.main-body {
    border: 1px solid black;
    height: fit-content;
    background-color: whitesmoke;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
    margin-bottom: 100px;
    
}

.main-body {
    border: none;
    border-radius: 10px;
}

.main-body-menu button {
    display: block;
    font-size: 1rem;
    background-color: white;
    border: none;
    padding: .4rem .5rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
    font-weight: 700;
    margin-right: 0px;
}

#comb-result {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    /* font-size: 1rem; */
    font-size: calc(15px + 0.390625vw);
    padding-left: 1rem;
    padding-right   : 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 200px;
    line-height: 5rem;


}

.combinations-sec input {
    border: 1px solid grey;
    border-radius: 10px;
    padding: .8rem 1rem;
    font-size: .8rem;
    background-color: white;
}

.combinations-sec input:focus {
    outline: none;
    border: 2px solid rgb(71, 69, 69);
}

.input-label {
    position: relative;
    color: grey;
    font-size: .6rem;
    top: -47px;
    text-align: center;
}

.action {
    border-radius: 10px;
    margin-top: 30px;
    /* margin-bottom: 50px; */
}

.btn {
    padding: 2% 6% ;
    /* background-color: rgb(186, 184, 184); */
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.btn:hover {
    opacity: .8;
}

.go {
    background-color: lightgreen;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
}

.start {
    background-color: green;
    font-weight: 700;
    font-size: 1.5rem;
}

.spin-div {
    text-align: center;
}

.spin {
    position: relative;
    text-align: right;
    top: 40px;
    font-size: 1rem;
    border: none;
    background-color: black;
    color: red;
    font-weight: 700;
    border-radius: 50%;
    padding: 2rem 2rem;
    font-weight: 700;
    font-size: 30px;
}

.spin:hover {
    opacity: .8;
}

.spin:active {
    color: green;
    background-color: wheat;
}

#copy:active {
    background-color: rgb(16, 231, 16);
    color: white;
}


.font-input {
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 1rem;
    margin-top: 20px;
    margin-left: 0px;
    
}

#comb-result {
    font-weight: 700;
}

.font-input:focus {
    outline: none;
}

.font-style {
    width: 50%;
}

.font-style span {
    text-align: left;
}

.modal-body {
    padding-left: 1rem;
}

#modal {
    padding-left: 2rem;
}

/* #zoom {
    color: white;
    background-color: #3636f2;
    border-radius: 5px;
} */

#zoom:hover {
    opacity: .8;
}

#zoom:active {
    background-color: #5c5cf0;
}
